@font-face {
  font-family: "B612";
  src: url("../font/B612.ttf");
}


.container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box {
  width: 840px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdfbff;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.title {
  font-family: 'B612';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

.present {
  width: 302px;
  height: 279px;
}

.selectBtn {
  width: 180px;
  height: 80px;
  background: #f8f0ff;
  border-radius: 20px;
  border: none;
  font-family: 'B612';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
:hover.selectBtn {
  background: rgba(234, 216, 249, 1);
}
.choice {
  z-index: 100;
  position: absolute;
  width: 400px;
  height: 400px;
  margin-top: 350px;
  pointer-events: none;
}

/* 여기서부터는 결과 css */
.resultContainer {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;

  border: 2px solid #7f83d5;
  border-radius: 20px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.score {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-top: 28px;
  margin-left: 38px;
}

.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  margin-left: 38px;
}

.cat {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 60%;
  top: 350px;
}
