.container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 840px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fdfbff;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
}

.present {
  width: 302px;
  height: 279px;
}

.selectBtn {
  width: 180px;
  height: 80px;
  background: #f8f0ff;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
:hover.selectBtn {
  background: rgba(234, 216, 249, 1);
}
.choice {
  z-index: 100;
  position: absolute;
  width: 400px;
  height: 400px;
  left: 36%;
  top: 605px;
  pointer-events: none;
}
